@import "tailwindcss";

body {
  background-color: #020617;
  background-image: 
    radial-gradient(ellipse at top, rgba(30, 41, 59, 0.4) 0%, rgba(2, 6, 23, 1) 100%),
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-attachment: fixed;
}
